/*Root Variables*/
:root {
  /*responsive font sized*/
  --font-size-heading: clamp(2.4rem, 3vw, 4.4rem);
  --font-size-text: clamp(1.2rem, 1.4vw, 1.8rem);
  --font-size-cta: clamp(1.4rem, 2vw, 2.2rem);
  --font-size-ui-heading: clamp(1.2rem, 1.2vw, 2rem);
  --font-size-ui-text: clamp(1rem, 1vw, 1.6rem);
  /*responsive gaps*/
  --outer-gap: clamp(2.4rem, 5vw, 6rem);
  --inner-gap: clamp(1.2rem, 2vw, 3rem);
  --min-gap: clamp(0.6rem, 0.8vw, 1.2rem);
  /*responsive paddings*/
  --outer-padding: clamp(2rem, 5vw, 6rem);
  --inner-padding: clamp(1.2rem, 2vw, 3rem);
  --min-padding: clamp(0.6rem, 1vw, 1.6rem);
  /*responsive border radiuses*/
  --large-radius: clamp(2.4rem, 6vw, 6rem);
  --medium-radius: clamp(1.2rem, 2vw, 2.8rem);
  --small-radius: clamp(0.6rem, 1vw, 1.6rem);
  /*responsive images width*/
  --fake-images: clamp(6rem, 10vw, 12rem);
  /*section height and width*/
  --section-width: clamp(36rem, 90vw, 112rem);
  --section-height: clamp(60rem, 90dvh, 110rem);
}

/*Default Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

/*main*/
main {
  /*flex, center all the sections*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--outer-gap);
  /*background color soft white*/
  background-color: #eee;
}

/*reset all buttons and links*/
button,
a {
  all: unset;
  font-family: "Exo 2" sans-serif;
}

/*reset all inputs*/
input {
  all: unset;
  border: none;
  outline: none;
}

/*reset all images*/
/*all images are fake*/
img {
  /*clean image*/
  max-width: 100%;
  height: auto;
  aspect-ratio: 5/3;
  object-fit: cover;
}

/*reset the lists*/
ul {
  list-style: none;
}

/*GENERAL ELEMENTS*/

/*applies to all sections*/
.section {
  /*size*/
  min-height: var(--section-height);
  max-width: var(--section-width);
}

.section-wrapper {
  /*make it a controlled continer*/
  max-width: 120rem;
  width: 100%;
}

/*applies to all nav elements*/
.nav {
  /*make it a controlled continer*/
  max-width: 120rem;
  width: 100%;
  /*Horizontal flex*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--inner-gap);
  /*font*/
  color: #eee;
  /*padding*/
  padding: var(--outer-padding);
}

/*Default image container*/
.img-container {
  /*size*/
  width: var(--fake-images);
  height: auto;
  /*fit the image*/
  overflow: hidden;
  /*border*/
  border-radius: var(--small-radius);
}

/*SPECIFIC SECTIONS*/

/*Hero Section Elements*/
/*applies to hero section only*/
.section-hero {
  /*flex, col, center all items*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--outer-gap);
  /*background color dark emerald*/
  background-color: #012d21;
  /*high bottom border radius*/
  border-radius: var(--large-radius);
}

/*hero navigation list*/
.list__hero-nav {
  /*flex row*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--inner-gap);
}

/*nav list cta*/
.list__hero-nav a,
.list__hero-nav button {
  font-size: var(--font-size-ui-text);
}

.list__hero-nav button {
  text-decoration: underline;
}

/*hero navigation buttons container*/
.hero__nav_buttons-container {
  /*flex row*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--min-gap);
}

/*Hero Section Body*/
.hero__body {
  /*make it a controlled continer*/
  max-width: 120rem;
  width: 100%;
  /*display*/
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--inner-gap);
  /*font*/
  color: #eee;
}

/*Left div container*/
.hero__body-left {
  /*normalize the height*/
  height: auto;
  align-self: stretch;
  /*display*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--outer-gap);
  /*padding*/
  padding: var(--inner-padding);
}

/*Left div child elements*/
.hero__body-left h1 {
  /*typography*/
  font-family: "Roboto" sans-serif;
  font-size: var(--font-size-heading);
  font-weight: 400;
  letter-spacing: 0.08rem;
  line-height: 1.2;
  text-align: left;
  color: #fff;
}

.hero__body-left p {
  /*typography*/
  font-size: var(--font-size-text);
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

.hero__body-left button {
  /*text*/
  font-size: var(--font-size-cta);
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  /*element*/
  background-color: #00e500;
  padding: var(--min-padding);
  border-radius: var(--small-radius);
}

/*Right div container*/
.hero__body-right {
  /*normalize the height*/
  height: auto;
  align-self: stretch;
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--inner-gap);
}

/*Right div child elements*/
.hero__body-right ul {
  /*display*/
  display: flex;
  flex-direction: column; /*for smaller screens*/
  gap: var(--inner-gap);
  /*padding*/
  padding: var(--inner-padding);
}

.hero__body-right li {
  /*p + img container*/
  /*display*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--min-gap);
  /*padding*/
  padding: var(--min-padding);
  /*background*/
  background-color: #ccc;
  /*border*/
  border-radius: var(--small-radius);
}

/*specifically the images inside the right > ul > li > p*/
.hero__body-right ul > li > p {
  font-size: var(--font-size-text);
  text-align: center;
  font-weight: 600;
  color: #222;
}

/*hero section verification form -- hero-right*/
.hero__body-right form {
  /*constrain the form*/
  width: 100%;
  max-width: 100%;
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding*/
  padding: var(--inner-padding);
  /*fix padding left*/
  padding-left: 0;
  /*margin right*/
  margin-right: 1rem;
  /*background*/
  background-color: #bbb;
  /*border*/
  border-radius: var(--medium-radius);
}

.hero__check-form--logo {
  /*display: img container + heading*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--min-gap);
}

.hero__check-form--logo h6 {
  /*typography*/
  font-size: var(--font-size-ui-heading);
  text-align: center;
  font-weight: 600;
  color: #444;
}

.checkbox-container {
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--min-gap);
  padding: var(--min-padding);
}

.checkbox-container p {
  /*typography*/
  /*even though this is a text, heading font size fits better */
  font-size: var(--font-size-ui-heading);
  text-align: center;
  font-weight: 600;
  color: #222;
}

/* Custom checkmark */
.checkmark {
  /*size*/
  width: 4rem;
  height: auto;
  aspect-ratio: 1;
  /*border*/
  border-radius: var(--small-radius);
  /*background*/
  background-color: #eee;
}

/*hero divider: top nav + content + (divider) + bottom nav*/
.hero__divider {
  /*center the header*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__divider h5 {
  /*typography*/
  font-family: "Roboto" sans-serif;
  font-size: var(--font-size-heading);
  text-align: center;
  letter-spacing: 0.1rem;
  color: #ccc;
}

/*Hero bottom navigation*/
.list__hero-bottom {
  /*make it a controlled continer*/
  max-width: 120rem;
  width: 100%;
  /*flex row*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: var(--inner-gap);
  /*padding*/
  padding: var(--inner-padding);
}

.list__hero-bottom > li {
  /*display: img-container + h6*/
  display: flex;
  flex-direction: column; /*smaller screens*/
  justify-content: center;
  align-items: center;
  gap: var(--min-gap);
}

.list__hero-bottom > li > h6 {
  /*typography*/
  font-family: "Roboto" sans-serif;
  font-size: var(--font-size-ui-text);
  color: #eee;
}

/*Media Queries*/
@media (min-width: 768px) {
  /*Hero Section*/
  /*bottom list element flex direction*/
  .list__hero-bottom > li {
    flex-direction: row;
  }
  /*checkmark size*/
  .checkmark {
    width: 6rem;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
